<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Forzar HTTPS (Esto soluciona lo de Google)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. Rutas de Next.js / React
  # (Esto hace que la web no de error 404 al recargar)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
